@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  overflow-x: hidden;
}
.wrapper {
  width: 800px;
  height: 500px;
  background-image: url("./images/blur.jpg");
  margin: 30px auto;
  padding-top: 60px;
}
.card {
  width: 70%;
  height: 350px;
  background-color: #272a36;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.left {
  width: 45%;
  height: 350px;
  background-color: #ee6639;
  border-radius: 0% 54% 58% 4% / 10% 51% 46% 0%;
}
.left-icon {
  color: white;
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 12px;
}
.right-icon {
  color: white;
  position: absolute;
  top: 70%;
  left: 15%;
  font-size: 12px;
}
img {
  width: 370px;
  position: absolute;
  left: -80px;
  top: 0;
  cursor: pointer;
}
img:hover {
  transition: 2s;
  transform: scaleX(1.1) scaleY(1.1);
}
.right {
  padding: 10px 5px 10px 20px;
  color: white;
}
h3 {
  text-transform: capitalize;
  color: #ee6639;
  display: inline-block;
  margin-right: 50px;
}
i {
  text-align: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}
h2 {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
  padding-top: 80px;
}
h1 {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 10px;
}
ins {
  text-decoration: none;
  font-weight: bold;
  margin-right: 24px;
}
del {
  text-decoration-color: red;
}

p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(182, 177, 177);
  margin-top: 15px;
}
span {
  color: rgb(182, 177, 177);
  display: inline-block;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 20px;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: 2s;
}
#yellow {
  background-color: yellow;
  width: 15px;
  height: 15px;
}
#black {
  background-color: black;
  width: 15px;
  height: 15px;
}
#blue {
  background-color: blue;
  width: 15px;
  height: 15px;
}
#yellow:hover {
  transform: scale(1.5);
  transition: 2s;
}
#black:hover {
  transform: scale(1.5);
  transition: 2s;
}
#blue:hover {
  transform: scale(1.5);
  transition: 2s;
}
button {
  border: none;
  background-color: #272a36;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 10px 15px 10px 0;
}
button i {
  margin-right: 10px;
}
h3:hover,
i:hover,
span:hover,
.icons:hover,
button:hover {
  color: #ee6639;
  transition: 2s;
  transform: scale(1.1);
}

/* media queries */
@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    height: 800px;
  }
  .card {
    width: 70%;
    height: 650px;
  }
  .left {
    width: 70%;
    height: 300px;
  }
  .left-icon {
    top: 40%;

    font-size: 14px;
  }
  .right-icon {
    top: 40%;
    font-size: 14px;
  }
  h3 {
    font-size: 24px;
  }
  i {
    visibility: hidden;
  }
  h2 {
    padding-top: 35px;
  }
  img {
    width: 330px;
  }
}